<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">
            <img src="static/is-this-a-pigeon.jpeg" alt="">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <img src="{{ url_for('serve_file', filename=filename)}}" alt="user image"
                        style="width:250px;height:250px;">
                    <span>
                        This is {{pred_class}}
                    </span>
                    <div>
                        <a href=" {{url_for('index')}}">Make A New Prediction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>